---
const today = new Date();
---

<footer>
	<div class="container max-w-screen-md mx-auto px-4">
		<p class="text-center text-darkText/70 py-4 border-t border-secondary/50">
			All rights reserved by ©Zeke Burlbaw 
		</p>
	</div>
</footer>